@model Models.ICategory

<div class="category-container" style="background: black url('@Model.ImagePath'); background-size: cover;">
    <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
            <p>@Model.Name</p>
        </div>
    </div>
</div>