 @model Models.Product

<div class="col product-preview-container">
    <a asp-controller="Catalog" asp-action="Product" asp-route-id="@Model.Id">
        <div class="grid__item">
              @if (Model.Images.Any())
              {
                  <img class="card__img" src="@Model.Images.First().Path"/><br>
              }
              <div class="card__content">
                  <p class="card__header fs-5">
                      @Model.Name
                  </p>
                  <p class="card__text fs-6">
                      4.8/5 (5 reviews)
                  </p>
                  <p class="card__price fs-6">
                      Price: @Model.Cost$
                  </p>
                  <button class="card__btn">To the cart <span>&rarr;</span></button>
              </div>
          </div>
    </a>
</div>


