 @model Models.Product

<div class="col product-preview-container">
    <a asp-controller="Catalog" asp-action="Product" asp-route-id="@Model.Id">
        <div class="grid__item">
              @if (Model.Images.Any())
              {
                  <img class="card__img" src="@Model.Images.First().Path"/><br>
              }
              <div class="card__content">
                  <p class="card__header fs-5">
                      @Model.Name
                  </p>
                  <p class="card__text fs-6">
                      @{
                          var rating = 0.0;
                          var reviewsCount = 0;
                          var prodRating = Model.Rating;
                          if (prodRating != null)
                          {
                              rating = Math.Round((double) Model.Rating.Sum / Model.Rating.Count, 1);
                              reviewsCount = Model.Rating.Count;
                          }
                          var ratingStr = rating.ToString("0.0", System.Globalization.CultureInfo.InvariantCulture);
                      }
                      @ratingStr/5 (@reviewsCount reviews)
                  </p>
                  <p class="card__price fs-6">
                      Price: @Model.Cost$
                  </p>
                  <button class="card__btn">To the cart <span>&rarr;</span></button>
              </div>
          </div>
    </a>
</div>


