@{
    ViewBag.Title = "Checkout";
    Layout = "_Layout";
}
<body>
<div class="container-auth">
    <div class="checkout-content">
        <div class="checkout-form">
            <h2 class="h2-auth form-title">Your Order</h2>
            <h6 id="timer"></h6>
            <div id="error-block"></div>
            <form method="POST" id="checkout-form" name="checkout-form" onsubmit="return false">
                <div class="form-group">
                    <input class="auth-input" type="text" maxlength="20" name="name" id="name" placeholder="Your Name"/>
                </div>
                <div class="form-group">
                    <input class="auth-input" type="text" maxlength="20" name="surname" id="surname" placeholder="Your Surname"/>
                </div>
                <div class="form-group">
                    <input class="auth-input" type="text" name="email" id="email" placeholder="Your Email"/>
                </div>
                @*<div class="form-group">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Pickup
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Delivery
                            </label>
                        </div>
                    </div>
                    *@
                Picking up from Kremvlevskaya 35, Kazan, Russian Federation
                <div class="form-group">
                    <input class="auth-input " type="text" name="address" id="address" placeholder="City, Street, House, Flat"/>
                </div>
                <div class="form-group form-button">
                    <input type="submit" name="checkout-button" id="checkout-button" class="auth-input form-submit" value="Pay off"/>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
<script src="~/js/orderForm.js"></script>