@using System.Collections.Specialized
@{
    ViewBag.Title = "Signin";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/authentication.css">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
}

<section class="sign-in">
    <div class="container-auth">
        <div class="signin-content">
            <div class="signin-image">
                <figure>
                    <img class="auth-logo" src="~/img/ascension_logo.png" alt="sing in image">
                </figure>
                <a asp-controller="Authentication" asp-action="Signup" class="a-auth signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="h2-auth form-title">Sign in</h2>
                <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label class="auth-label" for="your_name">
                            <i class="zmdi zmdi-account material-icons-name"></i>
                        </label>
                        <input class="auth-input" type="text" name="your_name" id="your_name" placeholder="Your Name"/>
                    </div>
                    <div class="form-group">
                        <label class="auth-label" for="your_pass">
                            <i class="zmdi zmdi-lock"></i>
                        </label>
                        <input class="auth-input" type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                    </div>
                    <!--<div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="auth-input agree-term"/>
                        <label for="remember-me" class="auth-label label-agree-term">
                            <span>
                                <span></span>
                            </span>Remember me
                        </label>
                    </div>-->
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="auth-input agree-term"/>
                        <label for="remember-me" class="auth-label label-agree-term">
                            <span>
                                <span></span>
                            </span>Remember me
                        </label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="auth-input form-submit" value="Log in"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>