@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/citytriggerwindow.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<div class="text-center">
	<h1 class="display-4">Welcome</h1>
    <html>
    <body>
       <div class="row pop-up">
             	   <div class="box small-6 large-centered shadow-lg p-3 mb-5 bg-white rounded">
             		<a href="#" class="close-button">Close</a>
                    <h3 class="main-txt">City selection</h3>	
                    <select class="form-select" size="3" aria-label="size 3 select example">
                        <option value="1">Kazan</option>
                        <option value="2">Moscow</option>
                        <option value="3">Kiev</option>
                        <option value="4">Kazan</option>
                        <option value="5">Moscow</option>   
                        <option value="6">Kiev</option>
                        <option value="7">Kazan</option>
                        <option value="8">Moscow</option>
                        <option value="9">Kiev</option>
                    </select>
                     <div>
                        <button class="choose-btn btn btn-outline-secondary">Choose</button>
                     </div>
                    <div>
                        <button class="detect-cd btn btn-outline-secondary" id="get-btn">Auto-Select</button>
                    </div>
                  </div>
               </div>
    </body>
    </html> 
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>  

