@{
    ViewData["Title"] = "Home Page";
}
<script></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <html>
    <body>
    
    <p>Your County:</p>
    
    <button onclick="getLocation()">Get:</button>
    
    <p id="demo"></p>
    
    </body>
    </html> 

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>  

