@using Models
@model Ascension.Controllers.UpdateModel

@{
    ViewBag.Title = "Admin page";
    Layout = "_Layout";
    var updateModel = Model.Model;
    var message = Model.Message;
    var action = "/Admin/Create" + updateModel.GetType().Name;
}

@section Styles
{
    <link rel="stylesheet" href="~/css/admin.css">
}

<div class="standard-text">
    <a asp-controller="Admin" asp-action="Models" asp-route-name="@updateModel.GetType().Name">← Back</a>
</div>

<div id="error-message" style="color: red">
    @message
</div>

<form id="create" method="post" action="@action"  enctype="multipart/form-data">
    @Html.GetHtml(UpdateHelper.getUpdateHtml(updateModel))
    <div>
        <button id="btn" class="btn btn-outline-light product-btn" style="margin-top: 15px">Create</button>
    </div>
</form>
