@using Models
@model Ascension.Controller.CreateModel

@{
    ViewBag.Title = "Admin page";
    Layout = "_Layout";
    var modelType = Model.ModelType;
    var message = Model.Message;
    var action = "/Admin/Create" + modelType.Name;
}

@section Styles
{
    <link rel="stylesheet" href="~/css/admin.css">
}

<div class="standard-text">
    <a asp-controller="Admin" asp-action="Models" asp-route-name="@modelType.Name">← Back</a>
</div>

<div id="error-message" style="color: red">
    @message
</div>

<form id="create" method="post" action="@action"  enctype="multipart/form-data">
    @Html.GetHtml(CreateHelper.getCreateHtml(modelType))
    <div>
        <button id="btn">Create</button>
    </div>
</form>
