@model IEnumerable<string>

@{
    ViewBag.Title = "Admin page";
    Layout = "_Layout";
}

@foreach (var name in Model)
{
    <p>
        <a asp-controller="Admin" asp-action="Models" asp-route-name="@name">@name</a>
    </p>
}
<p>
    <a asp-controller="Admin" asp-action="Admins">Admins</a>
</p>
<p>
    <a asp-controller="Admin" asp-action="Orders">Orders</a>
</p>