@using Models
@model IModel

@{
    ViewBag.Title = "Admin page";
    Layout = "_Layout";
}

<div>
    <a asp-controller="Admin" asp-action="Models" asp-route-name="@Model.GetType().Name">Back</a>
</div>

@Html.GetHtml(ReadHelper.getReadHtml(Model))