@using Models
@model Ascension.Controller.UpdateModel

@{
    ViewBag.Title = "Admin page";
    Layout = "_Layout";
    var updateModel = Model.Model;
    var message = Model.Message;
    var action = "/Admin/Update" + updateModel.GetType().Name;
}

<div>
    <a asp-controller="Admin" asp-action="Models" asp-route-name="@updateModel.GetType().Name">Back</a>
</div>

<div id="error-message" style="color: red">
    @message
</div>

<form id="update" method="post" action="@action">
    <input type="hidden" name="id" value="@updateModel.Id">
    @Html.GetHtml(UpdateHelper.getUpdateHtml(updateModel))
    <div>
        <button id="btn">Update</button>    
    </div>
</form>