i {
    margin-right: 10px;
}
.navbar-logo{
    padding: 15px;
    color: #fff;
}
.navbar-pd{
    padding: 15px 15px 10px;
    margin-bottom: 5px;
}
.navbar-mainbg{
    background-color: black;
    padding: 0;
}
.navbar-flex{
    justify-content: flex-end;
}
#navbarSupportedContent{
    overflow: hidden;
    position: relative;
}
#navbarSupportedContent ul{
    width: 100%;
    max-width: 1320px;
}
#navbarSupportedContent ul li a i{
    margin-right: 10px;
}
#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}
#navbarSupportedContent ul li a{
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    position: relative;
    transition-duration: 0.2s;
}
#navbarSupportedContent>ul>li.active>a{
    color: black;
    background-color: transparent;
}
#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free", serif;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}
#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}
.hori-selector{
    display:inline-block;
    position:absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}
.hori-selector .right{
    right: -25px;
}
.hori-selector .left{
    left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}
.hori-selector .right:before{
    bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
    bottom: 0;
    left: -25px;
}

.nav-ul {
    justify-content: space-around;
    font-weight: bold;
}

.search-btn {
    width: 90px;
    border: 1px solid #ced4da;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-input {
    width: 200px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.nav-item:not(.active) :hover {
    color: rgba(255,255,255,0.8) !important;
    transition-duration: 0.2s;
}

#nav-search-hidden {
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 901px){
    .navbar-expand-custom {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .nav-ul {
        align-items: center;
    }
    #navbarSupportedContent ul{
        padding-right: .75rem;
        padding-left: .75rem;
        margin-right: auto;
        margin-left: auto;
    }
    #nav-search-hidden {
        display: none;
    }
}


@media (max-width: 900px){
    #navbarSupportedContent ul li a{
        padding: 12px 30px;
    }
    .hori-selector{
        margin-top: 0;
        margin-left: 10px;
        border-radius: 25px 0 0 25px;
    }
    .hori-selector .left,
    .hori-selector .right{
        right: 10px;
    }
    .hori-selector .left{
        top: -25px;
        left: auto;
    }
    .hori-selector .right{
        bottom: -25px;
    }
    .hori-selector .left:before{
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before{
        bottom: -25px;
        left: -25px;
    }
    .nav-search {
        display: flex;
        padding: 12px 0 12px 30px;
    }
    #nav-search-open {
        display: none;
    }
}

@media (max-width: 400px) {
    .nav-search {
        display: flex;
        padding: 12px 30px 12px 30px;
    }
}